<div class="card border-0">
  <div class="card-body border-0">

    <article title="Titulo artigo"
        text="Teste texto"
        imgSrc="../../assets/images/dummy_photo_1.jpg">
    </article>

    <br>
  </div>
  <div class="card-footer bg-white border-0">
    <div class="row px-2 justify-content-center">

      <ngb-pagination
        [collectionSize]="10"
        [pageSize]="1"
        [(page)]="page"
        [maxSize]="3"
        [boundaryLinks]="true"
        [ellipses]="false"
        (pageChange)="onPageChange(page)"
        id="paginationtimetable"
      ></ngb-pagination>


    </div>
  </div>
</div>
