:host {
    width: 100%!important;
    padding: 1rem;
    background-color: white!important;
}

::ng-deep ngb-pagination ul > li:not(.active) > a {
  background-color:  #ffffff!important;
  color: #d3e0ea!important;
  text-decoration: none!important;
  border-radius: 10%!important;
  min-width: 10vmin;
  max-width: 14vmin!important;
  width: 100%!important;
  text-align: center!important;
  padding: 1vmin!important;
}


::ng-deep ngb-pagination ul > li.active > a {
  background-color:  #d3e0ea!important;
  color: #f6f5f5!important;
  text-decoration: none!important;
  border-radius: 10%!important;
  min-width: 10vmin;
  max-width: 14vmin!important;
  width: 100%!important;
  height: auto!important;
  text-align: center!important;
  padding: 1vmin!important;
}



::ng-deep ngb-pagination ul > li.active {

  max-width: 16vmin!important;
  width: 100%!important;
  border-radius: 25%!important;
  height: auto!important;
  padding: 1vmin!important;

}

::ng-deep ngb-pagination ul > li:not(.active) {

  max-width: 16vmin!important;
  width: 100%!important;
  height: auto!important;
  padding: 1vmin!important;

}

.card .card-body {
  min-height: 85vh;
  width: 100%!important;
  border: 0!important;
}

