<div class="card  border-top-0 border-right-0 border-bottom-0">
  <div class="card-header bg-white border-top-0 border-right-0 border-bottom-0">
    <h3>Artigos Populares</h3>
  </div>
  <div class="card-body border-top-0 border-right-0 border-bottom-0">
    <article title="Titulo artigo"
                        text="Teste texto"
                        imgSrc="../../assets/images/dummy_photo_1.jpg">
    </article>
    <article title="Titulo artigo"
            text="Teste texto"
            imgSrc="../../assets/images/dummy_photo_1.jpg">
    </article>
  </div>
</div>
