/* You can add global styles to this file, and also import other style files */
body {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}

.grid-wrapper {
    display: grid!important;
    grid-template-columns: 1fr 3fr 1fr!important;
    grid-template-rows: 1fr 3fr auto;
    grid-template-areas:
    "header header header"
    "main-content main-content main-content"
    "footer footer footer"!important;
    background-color: whitesmoke!important;
    height: 100vh;
    border: 0!important;
}

header {
    grid-area: header!important;
    padding: 0!important;
    width: 100%;
}

app-exemple, main {
    grid-area: main-content!important;
    padding: 0!important;
    width: 100%;
}

aside-left {
    grid-area: aside-content!important;
    padding: 0!important;
    width: 100%;
}

footer {
    grid-area: footer!important;
    padding: 0!important;
    width: 100%;
}


@font-face {
  font-family: infiniteStroke;
  src: url(assets/fonts/Infinite_Stroke_Bolder.otf) format("opentype");
}


@font-face {
  font-family: handlegothic;
  src: url(assets/fonts/handel-gothic-ex.ttf) format("opentype");
}
